<!DOCTYPE html>
<html ng-app="tilo">
<head lang="fr">
    <meta charset="UTF-8">
    <title>Tilo - Manage movies in the easiest way</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/screen.css">
</head>
<body ng-controller="tiloController">
    <div id="main-container">
        <header>
            <div class="vid-group">
                <video width="100%" height="100%" autoplay loop>
                    <source src="videos/heading.mp4" type="video/mp4" />
                </video>
            </div>
            <div class="heading-group">
                <h1>Welcome on Tilo Manager</h1>
                <h2>Manage your movie collection in the easiest way</h2>
            </div>
        </header>

        <section>
            <p class="title-section"><span>Tous les films</span></p>

            <div class="search-tools">
                <input type="text" id="search" ng-model="search.title" placeholder="Fight Club, Pulp Fiction, Interstellar..."/>
                <label for="search">
                    <img src="images/loupe.png" alt="recherche"/>
                </label>
            </div>
            <div class="content">
                <div id="movies-container" ng-include="route"></div>

                <aside id="drop-area" ng-drop="true" ng-drop-success="onDropComplete($data,$event)">
                    <h2>Films favoris</h2>
                    <div ng-repeat="obj in droppedObjects" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess($data,$event)">
                        <h3>{{obj.title}}</h3>
                    </div>
                </aside>
            </div>
        </section>


        <footer>

        </footer>
    </div>
    <script src="javascript/components/angular.js" type="text/javascript"></script>
    <script src="javascript/components/postFix.js" type="text/javascript"></script>
    <script src="javascript/components/route.js" type="text/javascript"></script>
    <script src="javascript/components/angular-drag-and-drop.js" type="text/javascript"></script>
    <script src="javascript/main.js" type="text/javascript"></script>
</body>
</html>