/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic,700,700italic|Maven+Pro:400,500,700,900);
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.sass */
html {
  font-size: 100%;
}

/* line 15, ../sass/screen.sass */
body {
  font-family: "Maven Pro", "Archivo Narrow", Helvetica, sans-serif;
}

/* line 18, ../sass/screen.sass */
#notif, #error, #updated-list {
  opacity: 0;
  width: 60%;
  margin: auto;
  left: 20%;
  padding: 60px 0;
  background: rgba(116, 214, 94, 0.9);
  position: fixed;
  bottom: 20px;
  z-index: 99;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
/* line 30, ../sass/screen.sass */
#notif.displayed, .displayed#error, .displayed#updated-list {
  opacity: 1;
}
/* line 32, ../sass/screen.sass */
#notif.hidden, .hidden#error, .hidden#updated-list {
  opacity: 0;
}
/* line 34, ../sass/screen.sass */
#notif p, #error p, #updated-list p {
  text-align: center;
  color: #FFFFFF;
  font-size: 1.5em;
}

/* line 38, ../sass/screen.sass */
#error {
  background: rgba(255, 68, 86, 0.9);
}

/* line 45, ../sass/screen.sass */
#main-container {
  font-size: 2.5rem;
}
/* line 47, ../sass/screen.sass */
#main-container header {
  background: #040414;
  color: #FFFFFF;
  height: 300px;
  overflow: hidden;
}
/* line 52, ../sass/screen.sass */
#main-container header .heading-group {
  position: absolute;
  top: 150px;
  left: 50px;
}
/* line 56, ../sass/screen.sass */
#main-container header .heading-group h1 {
  font-size: 1em;
}
/* line 58, ../sass/screen.sass */
#main-container header .heading-group h2 {
  font-size: 0.6em;
  padding-left: 50px;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  /* line 47, ../sass/screen.sass */
  #main-container header {
    height: 200px;
  }
  /* line 64, ../sass/screen.sass */
  #main-container header .heading-group {
    top: 35px;
    left: 15px;
    font-size: 80%;
  }
  /* line 68, ../sass/screen.sass */
  #main-container header video {
    display: none;
  }
}
/* line 70, ../sass/screen.sass */
#main-container section {
  background: #000 url("../images/blue-abstract-2.png") top no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 74, ../sass/screen.sass */
#main-container section p.title-section {
  color: #000;
  padding: 20px 0 30px 0;
  background: url("../images/pellicule.gif") left repeat-x;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}
/* line 79, ../sass/screen.sass */
#main-container section p.title-section span {
  display: block;
  padding: 10px 0 10px 40px;
}
/* line 82, ../sass/screen.sass */
#main-container section .search-tools {
  position: relative;
  margin: 20px 0 0 60px;
  color: #FFFFFF;
}
/* line 86, ../sass/screen.sass */
#main-container section .search-tools label {
  position: absolute;
  top: 10px;
  margin-left: 10px;
}
/* line 90, ../sass/screen.sass */
#main-container section .search-tools label img {
  height: 30px;
  width: 30px;
}
/* line 93, ../sass/screen.sass */
#main-container section .search-tools input {
  background: none;
  height: 20px;
  border: 1px solid white;
  min-width: 240px;
  color: #FFFFFF;
  padding: 8px;
  outline: none;
}
/* line 101, ../sass/screen.sass */
#main-container section .search-tools input:focus {
  border-color: #696b8c;
}
/* line 103, ../sass/screen.sass */
#main-container section .content {
  width: 85%;
  margin: 50px auto auto auto;
}
/* line 106, ../sass/screen.sass */
#main-container section .content #movies-container {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-top: 10px;
  width: 65%;
}
@media screen and (max-width: 768px) {
  /* line 106, ../sass/screen.sass */
  #main-container section .content #movies-container {
    width: 100%;
    display: block;
  }
}
/* line 114, ../sass/screen.sass */
#main-container section .content #movies-container article.movie {
  background: #FFFFFF;
  border: 2px solid #000;
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 27%;
  font-size: 2rem;
  padding: 10px;
  margin: 10px;
}
@media screen and (max-width: 768px) {
  /* line 114, ../sass/screen.sass */
  #main-container section .content #movies-container article.movie {
    width: 75%;
    display: block;
    margin: 10px auto;
  }
}
/* line 129, ../sass/screen.sass */
#main-container section .content #movies-container article.movie:hover {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
/* line 132, ../sass/screen.sass */
#main-container section .content #movies-container article.movie div.show-hover {
  text-align: center;
  font-size: 0.6em;
}
/* line 135, ../sass/screen.sass */
#main-container section .content #movies-container article.movie div.show-hover div.movie-heading {
  width: 100%;
  color: #950000;
}
/* line 138, ../sass/screen.sass */
#main-container section .content #movies-container article.movie div.show-hover div.movie-heading h3 {
  font-family: "Archivo Narrow", sans-serif;
}
/* line 140, ../sass/screen.sass */
#main-container section .content #movies-container article.movie div.show-hover div.movie-heading span {
  display: block;
}
/* line 142, ../sass/screen.sass */
#main-container section .content #movies-container article.movie .img-container {
  height: 100%;
  max-height: 200px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  /* line 142, ../sass/screen.sass */
  #main-container section .content #movies-container article.movie .img-container {
    max-height: 100%;
  }
}
/* line 148, ../sass/screen.sass */
#main-container section .content #movies-container article.movie .img-container img {
  width: 100%;
}
/* line 150, ../sass/screen.sass */
#main-container section .content #movies-container article.movie .add-button {
  display: none;
  margin-top: 15px;
  text-align: center;
}
/* line 154, ../sass/screen.sass */
#main-container section .content #movies-container article.movie .add-button button {
  background: none;
  border: 1px solid #0c0d48;
  color: #0c0d48;
  font-size: 1em;
  padding: 20px 20px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  /* line 150, ../sass/screen.sass */
  #main-container section .content #movies-container article.movie .add-button {
    display: block;
  }
}
/* line 163, ../sass/screen.sass */
#main-container section .content #movies-container article.movie div.movie-tips {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFF;
  z-index: 99;
  background: rgba(0, 0, 0, 0.9);
  color: red;
  padding: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 175, ../sass/screen.sass */
#main-container section .content #movies-container article.movie div.movie-tips p {
  font-size: 0.4em;
  margin-top: 5px;
}
/* line 178, ../sass/screen.sass */
#main-container section .content #movies-container article.movie div.movie-tips:before {
  position: absolute;
  top: 50%;
  left: -15px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
  border-right: 15px solid rgba(0, 0, 0, 0.9);
}
/* line 189, ../sass/screen.sass */
#main-container section .content aside {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-top: 22px;
  padding: 20px;
  width: 24%;
  min-height: 600px;
  border: 1px solid #FFFFFF;
  vertical-align: top;
}
/* line 197, ../sass/screen.sass */
#main-container section .content aside.dragging {
  border: 2px dashed #FFFFFF;
}
/* line 199, ../sass/screen.sass */
#main-container section .content aside.dragging-stop {
  border: 2px solid #FFFFFF;
}
/* line 201, ../sass/screen.sass */
#main-container section .content aside .create-new-list {
  background: none;
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 0.5em;
  outline: none;
  cursor: pointer;
  -moz-transition: background 0.3s ease, color 0.3s ease;
  -o-transition: background 0.3s ease, color 0.3s ease;
  -webkit-transition: background 0.3s ease, color 0.3s ease;
  transition: background 0.3s ease, color 0.3s ease;
}
/* line 212, ../sass/screen.sass */
#main-container section .content aside .create-new-list:hover {
  background: #FFFFFF;
  color: #000;
}
/* line 215, ../sass/screen.sass */
#main-container section .content aside h2 {
  color: #FFFFFF;
  text-align: center;
  font-size: 1em;
}
/* line 219, ../sass/screen.sass */
#main-container section .content aside div {
  width: 100%;
  margin-top: 30px;
  padding: 20px 0;
  font-size: 0.6em;
  background: url("../images/pellicule.gif") left repeat-x;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}
/* line 226, ../sass/screen.sass */
#main-container section .content aside div:first-child {
  margin-top: 0;
}
/* line 228, ../sass/screen.sass */
#main-container section .content aside div h3 {
  text-align: center;
  color: #950000;
}
@media screen and (max-width: 768px) {
  /* line 189, ../sass/screen.sass */
  #main-container section .content aside {
    display: block;
    width: 90%;
  }
}
/* line 234, ../sass/screen.sass */
#main-container footer {
  background: #000;
  padding: 50px 0;
}
/* line 237, ../sass/screen.sass */
#main-container footer h4 {
  text-align: center;
  font-size: 0.5em;
  color: #FFFFFF;
}
